.wild-timeline-sec *,
.wild-timeline-sec *::before,
.wild-timeline-sec *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.wild-timeline-sec {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
  margin-bottom: 130px;
  margin-top: 130px;
}

.wild-timeline-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 100%;
  background: #ddd;
  z-index: 1;
  border-radius: 50px;
  overflow: hidden;

  /* Verblassen nach links und rechts */
  mask-image: linear-gradient(to top, transparent, black 20%, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to top, transparent, black 20%, black 80%, transparent);

}

.wild-timeline-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--wild-line-progress, 0%);
  background: var(--primary-color);
  transition: height 0.3s ease;
  z-index: 2;
}

.wild-step {
  position: relative;
  width: 50%;
  padding: 20px 30px;
  z-index: 2;
}

.wild-step-left {
  text-align: right;
  left: -4%;


}

.wild-step-right {
  text-align: left;
  left: 54%;
}

.wild-card {  


    will-change: transform, opacity;

  background: white;
  display: inline-block;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.4s ease, box-shadow 0.4s ease, opacity 0.3s ease;
  opacity: 0.7;
  width: 80%;


}

.wild-card.active {
  transform: scale(1.04);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.08);
  opacity: 1;
}

.wild-card img {
  width: 20%;
  border-radius: 12px;
  margin-bottom: 10px;
  transition: transform 0.4s ease;
  height: 20px;
  border: 1px solid var(--border-color);
}

.wild-card h3 {
  font-size: 1.4rem;
  color: #1f2937;
  margin-bottom: 5px;
}

.wild-card p {
  color: #4b5563;
  font-size: 1rem;
}

