.time_line_amk{
  width: 90vw;
  max-width: 1300px;
 height: 680px;
  border: 1px solid var(--border-color);
  margin: auto;
    margin-top: 100px;
    border-radius: 22px;
    box-shadow: var(--standard-box-shadow);
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    display: none;
  }
  
  .time_line_amk *{
    border: 1px solid black;
  }
  
  .time_line_amk_container_one{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    gap: 12px;
  }
  
  .time_line_amk_container_one_container_one,
  .time_line_amk_container_one_container_two,
  .time_line_amk_container_one_container_three{
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
  }
  
  .time_line{
    width: 2px;
    height: 80%;
    border-radius: 22px;
    background-color: var(--border-color);
    margin-left: 30px;
  }
  
  .container_neartimeline{
    width: 220px;
    height: 80%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 22px;
  }
  
  .container_neartimeline p{
    font-size: 16px;
  }
  
  .container_neartimeline_uper_container{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
  }
  
  .container_neartimeline_uper_container p{
    font-size: 18px;
  }
  
  
  
  
  
  
  
  
  
  
  
  .time_line_amk_container_two{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
  }
  
  .time_line_amk_contaier_two_child{
    width: 600px;
    height: 600px;
    border-radius: 22px;
    border: 1px solid var(--border-color);
  }

