

.section_fünf {
    width: 75vw;
    max-width: 1300px;
    margin: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;   
    justify-content: center; 
    flex-direction: column;
    height: fit-content;
    margin-top: 40px;
    gap: 50px;


}

.section_fünf_header{
    text-align: center;
}

.section_fünf_header h1{
    margin-bottom: 20px;
}


.mon_or_year{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border: 1px solid var(--border-color);
    width: fit-content;
    margin: auto;
    padding: 5px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: #F6F7FA;

}


.mon {
    border-radius: 12px;
    padding: 8px 30px;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.2s;
    border: 1px solid rgba(255, 255, 255, 0);
    
}


.mon.active, .year.active {
    background-color: white;
    color: black;
    border: 1px solid var(--border-color);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.186);
}

.year {
    border-radius: 12px;
    padding: 8px 40px;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.2s;
    border: 1px solid rgba(255, 255, 255, 0);
}

.yearr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    gap: 15px;

}

.yearr{
    display: none;
}

.schwaben{
    padding: 7px 20px;
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    border-radius: 40px;
    font-size: 16px;

    color: #00883F;
}

.columns_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
}

.columns_box_year{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;


}


.columns_box,
.columns_box_year {
  opacity: 0;
  transition: opacity 0.4s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.columns_box.active,
.columns_box_year.active {
  opacity: 1;
  pointer-events: auto;
  position: relative;
}

.columns_box,
.columns_box_year {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.columns_box.active,
.columns_box_year.active {
  opacity: 1;
  pointer-events: auto;
}



.columns_eins,
.columns_zwei,
.columns_drei {
    width: 32%;
    height: fit-content;
    border-radius: 18px;
    position: relative;
    padding-bottom: 100px;
    background-color: white;
    border: 1.5px solid var(--border-color);

}

.columns_eins::before,
.columns_zwei::before,
.columns_drei::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;
    bottom: -15px;
    border-radius: 20px;
    z-index: -1;
    border: 1px solid var(--border-color);
    background-color: #F7F7F9;

}

.columns_zwei::before{
    border: 4px solid var(--primary-color);
    box-shadow: 0 0 60px -10px rgba(168, 85, 247, 0.4);
}


.columns_eins,
.columns_drei{
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.04);
}





.row_one_one,
.row_one_two,
.row_one_three{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-top: 5px;
}

.row_one_one span,
.row_one_two span,
.row_one_three span{
    font-weight: 500;

    font-size: 17px;
    color: grey;
}

.columns_zwei{
    box-shadow: 0 0 60px -10px rgba(168, 85, 247, 0.4);
    border: 4px solid var(--primary-color);
    height: fit-content;
    cursor: pointer;
}


.row_one_one li,
.row_one_two li,
.row_one_three li{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: -25px;
    font-size: 15px;
    color:#454d6ad1 ;
    gap: 8px;
    list-style: none;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s ease;
    padding: 15px 0 15px 25px;
}

.lis_padding_left{
    margin-left: 5px !important;
}

.beenfits_low_boldness{
    font-weight: 100;
}

.annual_billing{
    font-size: 16px;
    color: black;
    text-decoration: underline;

}


.row_one_one ul,
.row_one_two ul,
.row_one_three ul{
    padding-top: 20px;
    width: 100%;
}

.row_one_one li img,
.row_one_two li img,
.row_one_three li img{
    transform: scale(0.5);

}



.letsgo_button_one,
.letsgo_button_two,
.letsgo_button_three{
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 8px 0 3px 0;
    border-radius: 12px;
    color: black;
    background-color: white;
    transition: 0.3s ease;
    border: 0.5px solid black;
    border: 2px solid var(--border-color);
    box-shadow: var(--standard-box-shadow);
    box-shadow: none;

    transition: box-shadow 0.3s ease;


}

.letsgo_button_one:hover,
.letsgo_button_three:hover{
    opacity: 0.9;
    box-shadow: inset 0 0 0 1px var(--primary-color);

}

.letsgo_button_two{
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 8px 0 3px 0;
    color: white;
    border: 1px solid var(--primary-color);
}

.letsgo_button_two:hover{
    opacity: 0.9;

}



.leiste_one_two{
    width: 100%;
    height: 35px;
    margin-top: a;
    background-color: #EFFDF4;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.leiste_one_two p{
    color: #00883F;
    font-size: 20px;
}

.pricing_header_pro_badge_container{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}



.pricing_header_pro_badge{
    width: fit-content;
    border-radius: 25px;
    background-color: #FAF5FF;
    color: #9222DF;
    padding: 7px 15px;
    font-size: 17px;
    border: 1px solid #EFDDFC;
    padding: 6px 10px;
    color: white;
    border: 1px solid var(--primary-color);
    background: linear-gradient(to top right, #E832F8 0%, #AC51FF 90%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    position: relative;

}

.pricing_header_pro_badge::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2), transparent);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    pointer-events: none;
}

.year_benefit_pricing{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.year_benefit_pricing_badge{
    width: fit-content;
    padding: 8px 10px;
    border-radius: 25px;
    font-size: 17px;

    background-color: #F0FDF4;
    color: #00883F;
    border: 1px solid #C4ECD0;
}

.ziggi{
    width: fit-content;
    border-radius: 25px;
    background-color: #FAF5FF;
    color: #9222DF;
    padding: 7px 15px;
    font-size: 17px;
    border: 1px solid #EFDDFC;
    padding: 6px 10px;
    color: white;
    border: 1px solid var(--primary-color);
    background: linear-gradient(to top right, #E832F8 0%, #AC51FF 90%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    position: relative;

}

.ziggi::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2), transparent);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    pointer-events: none;
}

.plan_vergleich{
    text-align: center;
    font-size: 17px;
    color: var(--primary-color);
    transition: 0.3s ease;
    margin-top: -20px;
    margin-bottom: 50px;
}

.plan_vergleich:hover{
    opacity: 0.7;
}

.pricing_bulletpoint_border{
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
}

.beinhaltet{
    font-size: 17px;
    margin-left: -5px;
    margin-bottom: 7px;

}

.beinhaltet:hover{
    background-color: white;
    cursor: text;
}



.pricing_trust_bar{
    background-color: #F6F7FA;
    width: 100%;
    height: 70px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.082);

}

.pricing_trust_bar p{
    font-size: 18px;
}

.pricing_trust_bar img{
    width: 30px;
}

.pricing_trust_bar_one,
.pricing_trust_bar_two,
.pricing_trust_bar_three{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;    
    gap: 10px;
    width: 33%;
}

.pricing_trust_bar_one p,
.pricing_trust_bar_three p{
    text-align: center;
}


article h3{
    opacity: 0.6;
    padding-top: 25px;
    font-size: 35px;
    text-align: center;
}

article h1{
    padding-top: 25px;
}

article h1 span{
    color: rgb(67, 67, 67);
    font-weight: 300;
}

.jederzeit_kündbar_toggle_br{
    display: none;
}


@media(max-width:1250px){ /* MAIN */
    .yearr{
        flex-direction: column;
    }

    .columns_box{
        flex-direction: column;
        gap: 30px;
    }

    .columns_eins,
    .columns_zwei,
    .columns_drei{
        width: 90vw;
    }
    
    .columns_box_year{
        flex-direction: column;
        width: 90vw;

    }

    .schwaben{
        font-size: 15px;
        padding: 7px 14px;
    }



    .pricing_trust_bar{
        padding: 5px;
        width: 90vw;
        margin-top: -15px;
    }

    .pricing_trust_bar_one,
    .pricing_trust_bar_two,
    .pricing_trust_bar_three{
        flex-direction: column;
        height: 90%;
    }

    .pricing_trust_bar svg{
        width: 26px;
    }

    .pricing_trust_bar p{
        font-size: 14px;
    }

    .jederzeit_kündbar_toggle_br{
        display: none;
    }


}

