footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at bottom left, #4c1d95, #0f0c29);
    background: rgb(255, 255, 255);
    color: black;
    overflow: hidden;


}




.footer_section_eins{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 40px 0 40px;
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.04);
}

.footer_section_eins_subcontainer{
    height: auto;
    width: 90vw;
    max-width: 1300px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin: auto;
    gap: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    flex-wrap: wrap;
    width: 100%;
}

.footer_section_eins a{
    line-height: 135%;
    color: black;
}

.footer_section_eins a:hover{
    opacity: 0.6;
}

.footer_section_eins h6{
    padding-bottom: 8px;
}

.footer_container_eins,
.footer_container_zwei,
.footer_container_drei,
.footer_container_vier,
.footer_container_eins_halb,
.footer_container_fünf{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.footer_container_eins_halb{
    gap: 22px;
}

.footer_container_eins_halb img:hover{
    opacity: 1;
}


.footer_img{
    width: 115px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 15px -9px rgba(0, 0, 0, 0.498);
    cursor: pointer;
}




.footer_section_null_halb{
    height: 400px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: text;
    color: black;
    font-family: sans-serif;

    overflow: hidden;


}



.footer_section_null_halb h1{
    align-self: flex-start;
    padding-top: 110px;
    position: absolute;
    width: 70%;
    color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    margin: auto;
    font-size: clamp(35px, 8vw, 60px);
    z-index: 20; /* Bringt den Text über die Kreise */
}

.pulse_background_null{
    margin-top: 550px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.249);
    opacity: 0.1;
    z-index: 10;
    overflow: hidden;
    position: absolute;
}

.pulse_background_null_halb{
    margin-top: 550px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.249);

    opacity: 0.1;
    z-index: 10;
    position: absolute;
    overflow: hidden;

}

.pulse_background_eins{
    margin-top: 550px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.249);   
    opacity: 0.1;
    z-index: 10;
    position: absolute;
    overflow: hidden;

}

.pulse_background_zwei {
    margin-top: 550px;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.295);

    opacity: 0.1;
    z-index: 9;
    position: absolute;
    overflow: hidden;


}

.pulse_background_drei{
    margin-top: 550px;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.324);

    opacity: 0.1;
    z-index: 8;
    position: absolute;
    overflow: hidden;


}

.pulse_background_vier{
    margin-top: 550px;
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.173);

    opacity: 0.1;
    z-index: 7;
    position: absolute;
    overflow: hidden;
}

.pulse_background_fünf{
    margin-top: 550px;
    width: 850px;
    height: 850px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.137);

    opacity: 0.1;
    z-index: 6;
    position: absolute;
    overflow: hidden;

}



footer a {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
    position: relative;
    transition: background 0.3s ease;
  }




  
  /* Leicht glänzende Schicht oben */
  footer a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 0%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2), transparent);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    pointer-events: none;
  }



.footer_section_null_halb_blur_point{
    margin-top: 550px;
    width: 100vw;
    height: 850px;
    border-radius: 50%;
    background-color: white;
    filter: blur(90px);
    opacity: 0.1;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    display: none;

}

.pulse_background_null,
.pulse_background_null_halb,
.pulse_background_eins,
.pulse_background_zwei,
.pulse_background_drei,
.pulse_background_vier,
.pulse_background_fünf{
    background-color: var(--primary-color);
}


@media(max-width:650px){

    .footer_section_eins_subcontainer{
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

}

@media(max-width:1000px){

    .footer_section_eins{
        padding: 0 40px 0 40px;
    }

    .footer_section_eins_subcontainer{
        justify-content: start;
    }

}
