:root {
  --primary-color:   #F53179;
  --primary-color: #AC51FF;
  --secondary-color: #235AEA;
  --border-color: rgba(128, 128, 128, 0.234);
  --green-dots: #29CC8D;
  --standard-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.027);
}

a {
  text-decoration: none;
  color: black;
}

*{
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body {
  min-height: 100vh;
  background-color: white;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 55px;
  line-height: 125%;
}

p {
  color:#454d6ad1 ;
  line-height: 150%;
  font-size: 23px;
  color:#454d6a ;
}

li{
  list-style: none;
}


a {
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  position: relative;
}

/* Leicht glänzende Schicht oben */
a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0.2), transparent);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  pointer-events: none;
}

  main{
    margin-top: 170px;
  }
  
  