footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

}

.footer_section_eins{
    height: auto;
    width: 90vw;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin: auto;

    margin-top: 80px;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.footer_section_eins a{
    line-height: 160%;
    transition: 0.3s ease;
}

.footer_section_eins a:hover{
    opacity: 0.6;
}

.footer_section_eins h6{
    padding-bottom: 15px;
}

.footer_container_eins,
.footer_container_zwei,
.footer_container_drei,
.footer_container_vier,
.footer_container_eins_halb{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.footer_container_eins_halb{
    gap: 22px;
}


.footer_img{
    width: 115px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 15px -9px rgba(0, 0, 0, 0.498);
    cursor: pointer;
}







@media(max-width:1000px){


}