:root {
    --primary-color: #AC51FF;
    --secondary-color: #235AEA;
  
  
    --border-color: rgba(128, 128, 128, 0.339);
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  *{
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  
  body {
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  body {
    overflow-x: hidden;
  }
  
  
  h1 {
    font-size: 55px;
    line-height: 125%;
  }
  
  p {
    color:#454d6ad1 ;
    line-height: 150%;
    font-size: 23px;
  
  }
  
  li{
    list-style: none;
  
  }
  
  