.blogcarousel_container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }



  .blogcarousel_container {
    margin: auto;
    position: relative;
    overflow: hidden;
    height: 580px;
    width: 100%;    
    max-width: 1300px;
    padding-bottom: 100px;
    padding-top: 100px;
  }
  
  .blogcarousel_track {
      display: flex;
      transition: transform 0.5s ease;
      will-change: transform;

      display:flex; 
      transition:transform .5s ease; 
      height: 100%;
      width: 100%;

  }


  .blogcarousel_card {
      flex: 0 0 calc(100% / 3);   /* exakt ⅓ Breite – verhindert Überschneidungen */
      padding: 20px;
      opacity: .5;
      transform: scale(.9);
      transition: all .3s ease;
      height: 100%;

  }

  .blogcarousel_card a {
    display: block;
    text-decoration: none;
  }


  .blogcarousel_card.active {
      opacity: 1;
      transform: scale(1.05);
  }

  .blogcarousel_card   { 
    flex:0 0 calc(100% / 3); 
    transform:scale(.9); 
    transition:.3s;     
    padding:20px; 
    opacity:.5; 
    width: 100%;
    height: 100%;
}
  .blogcarousel_card.active { 
    opacity:1; 
    transform:scale(1.05); 
    cursor: pointer;
}

.wassup.active { 
    cursor: pointer;
}








  .blogcarousel_content {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    height: 500px; /* oder ein fixer Wert wie 300px */
    border: 1px solid black;

  }

  .blogcarousel_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: black;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 1px 1px;
    cursor: pointer;
    z-index: 10;
    border: 0.5px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #F6F7FA;

  }



  .blogcarousel_btn.left {
    left: 10px;
  }

  .blogcarousel_btn.left img{
    width: 40px;
  }

  .blogcarousel_btn.right img{
    margin-left: px;
    width: 40px;
  }

  .blogcarousel_btn.right {
    right: 10px;
  }