main{
    margin-top: 170px;
}

.section_fünf {
    width: 75vw;
    max-width: 1300px;
    margin: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    margin-bottom: 45px;
    height: fit-content;
    gap: 20px;
    flex-direction: column;
    gap: 60px;
    margin-top: 40px;


}

.section_fünf_header{
    text-align: center;
}

.section_fünf_header h1{
    margin-bottom: 20px;
}


.mon_or_year{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border: 1px solid var(--border-color);
    width: fit-content;
    margin: auto;
    padding: 5px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: #F6F7FA;
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.04);
}


.mon {
    border-radius: 12px;
    padding: 8px 30px;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.2s;
}


.mon.active, .year.active {
    background-color: white;
    color: black;
    border: 1px solid var(--border-color);
}


.year {
    border-radius: 12px;
    padding: 8px 40px;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.2s;
}






.yearr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    gap: 15px;
}

.yearr{
    display: none;
}



.schwaben{
    padding: 7px 20px;
    background-color: #F2F6FF;
    border: 1px solid #D4DFFC;
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    border-radius: 40px;
    font-size: 16px;
    color: #2151CE;
}


.columns_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
}

.columns_box_year{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    gap: 15px;

}


.columns_box,
.columns_box_year {
  opacity: 0;
  transition: opacity 0.4s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.columns_box.active,
.columns_box_year.active {
  opacity: 1;
  pointer-events: auto;
  position: relative;
}


.columns_eins,
.columns_zwei,
.columns_drei {
    width: 32%;
    height: fit-content;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    position: relative;
    padding-bottom: 100px;
    background-color: white;
}

.columns_eins::before,
.columns_zwei::before,
.columns_drei::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 25px;
    right: 25px;
    bottom: -15px;
    border-radius: 20px;
    z-index: -1;
    border: 1px solid var(--border-color);
    background-color: white;

}

.columns_eins,
.columns_drei{
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.04);
}





.row_one_one,
.row_one_two,
.row_one_three{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-top: 5px;
}

.columns_zwei{
    box-shadow: 0 0 60px -20px rgba(168, 85, 247, 0.4);

}


.row_one_one li,
.row_one_two li,
.row_one_three li{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: -25px;
    font-size: 15px;
    color:#454d6ad1 ;

    list-style: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s ease;
}

.row_one_one ul,
.row_one_two ul,
.row_one_three ul{
    padding-top: 20px;
    width: 100%;
}

.row_one_one li img,
.row_one_two li img,
.row_one_three li img{
    transform: scale(0.5);
}



.letsgo_button_one,
.letsgo_button_three{
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 8px 0 3px 0;
    border-radius: 10px;
    color: black;
    background-color: white;
    transition: 0.3s ease;
    border: 0.5px solid black;

    box-shadow: none;
    transition: box-shadow 0.3s ease;


}

.letsgo_button_one:hover,
.letsgo_button_three:hover{
    opacity: 0.9;
    box-shadow: inset 0 0 0 1px var(--primary-color);

}

.letsgo_button_two{
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 8px 0 3px 0;
    border-radius: 10px;
    color: white;
    transition: 0.3s ease;
    border: 1px solid var(--primary-color);
}

.letsgo_button_two:hover{
    opacity: 0.9;

}

.columns_zwei{
    height: fit-content;
}

.leiste_one_two{
    width: 100%;
    height: 35px;
    margin-top: a;
    background-color: #EFFDF4;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.leiste_one_two p{
    color: #00883F;
    font-size: 20px;
}

.pricing_header_pro_badge_container{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.pricing_header_pro_badge{
    width: fit-content;
    border-radius: 10px;
    background-color: #F0FDF4;
    color: #00883F;
    padding: 7px 15px;
    font-size: 17px;
    border: 1px solid #C4ECD0;
}

.year_benefit_pricing{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.year_benefit_pricing_badge{
    background-color: #F2F5FF;
    color: #2151CE;
    width: fit-content;
    padding: 9px 10px;
    border-radius: 10px;
    font-size: 17px;
    border: 1px solid #D4DEFB;
}

.plan_vergleich{
    text-align: center;
    font-size: 17px;
    color: var(--primary-color);
    transition: 0.3s ease;


}

.plan_vergleich:hover{
    opacity: 0.7;
}

.pricing_bulletpoint_border{
    width: 100%;
    height: 1px;
    color: var(--border-color);
    background-color: var(--border-color);
}

.beinhaltet{
    font-size: 17px;
    margin-left: -5px;
    margin-bottom: 7px;

}

.beinhaltet:hover{
    background-color: white;
    cursor: text;
}

.pricing_trust_bar_mother{
    width: 100%;
    height: fit-content;
    background-color: rgba(128, 128, 128, 0.056);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
}

.pricing_trust_bar{
    width: 100%;
    height: 70px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing_trust_bar p{
    font-size: 18px;
}

.pricing_trust_bar img{
    width: 30px;
}

.pricing_trust_bar_one,
.pricing_trust_bar_two,
.pricing_trust_bar_three{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;    
    gap: 10px;
    width: 33%;

}


article h3{
    opacity: 0.6;
    padding-top: 25px;
    font-size: 35px;
    text-align: center;
}

article h1{
    padding-top: 25px;
}

article h1 span{
    color: rgb(67, 67, 67);
    font-weight: 300;
}


@media(max-width:1050px){ /* MAIN */
    .yearr{
        flex-direction: column;
    }

    .columns_box{
        flex-direction: column;
        gap: 30px;
    }

    .columns_eins,
    .columns_zwei,
    .columns_drei{
        width: 90vw;
    }
    
    .columns_box_year{
        flex-direction: column;
        width: 90vw;

    }

    .schwaben{
        font-size: 15px;
        padding: 7px 14px;


    }
}